@import "../../style/global.scss";

.product-image img{
    width: 100%;
    height: auto;
}

.description-text {
    font-family: $headings-font-family_small;
}

.price h3 {
    color: $main-price-color;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $headings-font-family_small;
}

.product-description {
    font-size: 1rem;
    font-family: "Lato";
    line-height: 1.5rem;
    letter-spacing: 0.05em;
}

.description-container {
    background-color: $main-black;
    width: 100%;
    height: 100%;
}

.description-container .text-container {
    width: 50%;
    color: $main-white
}

.quantity h3 {
    font-family: $headings-font-family_small;;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.info h3 {
    font-size: 3rem;
    font-family: $headings-font-family;
}

.plus-minus {
    border: none;
    font-size: 2rem;
}

.quantity-number {
    font-size: 2rem;
}