@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:800|Libre+Baskerville:400,400i,700,700i&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



// Reset
* {
    margin: 0;
    padding: 0;
}

.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

// Fonts
$headings-font-family: "Josefin Sans",
serif;

$headings-font-family_small: "Lato";

$font-family-base: "Libre Baskerville",
serif;


// Font size
$nav-link-font-size: 1rem;
$heading-h3-default-value: 2rem;
$product-title-size: 1.5rem;



// Colors
$main-black: #000;
$main-white: #FFF;
$main-red: #F03F3F;
$main-red-hover: #ec6767;
$main-price-color: #686868;


// Components

.btn-red {
    background-color: $main-red;
    width: 14rem;
    height: 2.5rem;
    border-radius: 0.12rem;
    font-size: 1rem;
    border: none;
    font-family: "Lato";
    color: $main-white;
    a {
        text-decoration: none;
        color: $main-white;
    }
    a:link, a:visited {
        text-decoration: none;
        color: $main-white;
    }

}

.product-card {
    width: 18rem;
}