@import "../../style/global.scss";


.clean-block.clean-form form {
    border-top: 2px solid #5ea4f3;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .075);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}