@import "../../style/global.scss";



// Hero banner
.hero-main-container {
    padding: 0;
    margin: 0;
}
.hero-text-col {
    background-color: $main-black;
    height: auto;
    width: auto;
    color: $main-white;
    min-height: 55vh;
}



.hero-text-col h1 {
    font-size: 4.5rem;
    font-family: $headings-font-family;
    width: 80%;
}

.hero-text-col p {
    font-size: 2rem;
    font-family: $headings-font-family_small;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .hero-text-col h1 {
        font-size: 2.3rem;
    }
    
    .hero-text-col p {
        font-size: 1rem;
    }
}

.padding-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}












.main-heading {
    font-size: 4rem;
    font-family: $headings-font-family;
}

.main-heading_small {
    font-size: 2rem;
    font-family: $headings-font-family_small;
}

.heading-container {
    background-color: black;
    height: 40rem;
    color: $main-white;
    width: 80rem;
    margin-left: -12rem;
}



.heading-picture-container {
    height: 62.5rem;
    width: 84rem;
    z-index: -1;
    margin-left: -16rem;
}

.button-red {
    background-color: $main-red!important;
    width: 14rem;
    height: 2.2rem;
    color: $main-white;
    border-radius: 0px!important;
    font-family: $headings-font-family_small;
}

.button-red:hover {
    background-color: $main-red-hover!important;
}